# v1737580749
kernel32!GetLogicalDrives();
Iphlpapi!GetIpNetTable(__out PMIB_IPNETTABLE IpNetTable,__out PULONG SizePointer,__in BOOL Order);
Shell32!SHEmptyRecycleBinW(__in HWND hwnd,__in LPCWSTR pszRootPath,__in DWORD dwFlags);
Rstrtmgr!RmGetList(__in DWORD dwSessionHandle,__out UINT *pnProcInfoNeeded,__out UINT *pnProcInfo,__out RM_PROCESS_INFO rgAffectedApps,__out LPDWORD lpdwRebootReasons);
